In [10]:
angka = 10
if (angka%2 == 0):
    print('bilangan ganjil')
else:
    print('bilangan genap')

bilangan ganjil

In [11]:
# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [13]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 20000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

beli majalah

In [15]:
mystring = 'hello'
myfloat = 10.0
myint = 20

if mystring == 'hello':
    print("String: %s" %mystring)
if isinstance(myfloat,float) and myfloat == 10.0:
    print('Float: %.2f' %myfloat)
if isinstance(myint, int) and myint == 20:
    print('Integer: %d' %myint)

String: hello
Float: 10.00
Integer: 20

In [24]:
i=0
while i <= 10:
    print('looping ke: ',i)
    i += 1

looping ke:  0
looping ke:  1
looping ke:  2
looping ke:  3
looping ke:  4
looping ke:  5
looping ke:  6
looping ke:  7
looping ke:  8
looping ke:  9
looping ke:  10

In [25]:
i=0
while i <= 10:
    print('looping ke: ',i)
    i += 2

looping ke:  0
looping ke:  2
looping ke:  4
looping ke:  6
looping ke:  8
looping ke:  10

In [50]:
for x in range (1,20,2):
  print(x)

1
3
5
7
9
11
13
15
17
19

In [132]:
numbers = [951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949
  ]

#Loop dan print semua angka genap dari list angka diatas dengan urutan yang sama. Jangan mencetak angka apa pun yang muncul setelah angka 918.
#Tampilkan pesan 'Done' setelah looping berakhir.
for a in numbers:
    if a % 2 == 0:
        print(a)
        if a == 918:
            break
print('done')

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918
done

In [37]:
a=300
b=300
print('A') if a > b  else print('a sma dengan b') if a==b else print('B')

a sma dengan b

In [45]:
a=300
b=300
if a > b
 print('A') 
    elif a == b:
    print('a sma dengan b')
    elif a < b:
    else print('B')

SyntaxError: invalid syntax (<ipython-input-45-6c809690f1eb>, line 3)

In [52]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [53]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        break
    print(i)

1
2

In [61]:
fruits=['apel','pisang','anggur']
for x in fruits:
    if x == 'anggur':
        break
    print(x)

apel
pisang

In [78]:
list = [1,3,5,7,9]
length=len(list)
i=0
for i, val in enumerate(list)
  print(i,",",val)

SyntaxError: invalid syntax (<ipython-input-78-569a0c5896ae>, line 4)

In [74]:
for i, val in enumerate(list)
 print(i,",",val)

SyntaxError: invalid syntax (<ipython-input-74-a67a93d18ba9>, line 1)

In [79]:
list= [1,3,10,7,9]
[print(i) for i in list]

1
3
10
7
9

[None, None, None, None, None]

In [80]:
list1=[1,2,3,4,5,6]
print(list1.pop())
print("New list after pop: ",list1,"\n")
while list1:
   print(list1.pop(-1))
print("nilai setelah di while loop dengan pop: \n",list1)

6
New list after pop:  [1, 2, 3, 4, 5]

5
4
3
2
1
nilai setelah di while loop dengan pop:
 []

In [84]:
def luas_segitiga(alas,tinggi):
   luas = (alas*tinggi)/2
   print("luas segitiga: %d"%luas);
luas_segitiga(4,6)

luas segitiga: 12

In [87]:
def my_fungsi(*nama):
 print('temas saya adalah: ' +nama[2])
my_fungsi('emil','tobi','linus')

temas saya adalah: linus

In [88]:
def my_fungsi(**nama):
 print('temas saya adalah: ' +nama['nama1'])
my_fungsi(nama1='tobias',nama2='emil')

temas saya adalah: tobias

In [92]:
# Function definition is here
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist.extend([1,2,3,4]);
   print("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [10, 20, 30, 1, 2, 3, 4]
Values outside the function:  [10, 20, 30, 1, 2, 3, 4]

In [94]:
# Function definition is here
def changeme( mylist ):
   "This changes a passed list into this function"
   mylist=  [1,2,3,4];
   print("Values inside the function: ", mylist)
   return

# Now you can call changeme function
mylist = [10,20,30];
changeme( mylist );
print("Values outside the function: ", mylist)

Values inside the function:  [1, 2, 3, 4]
Values outside the function:  [10, 20, 30]

In [95]:
def convert(fahr):
 cels=fahr*1.8 + 32.0
 return cels
print(convert(32))

89.6

In [98]:
def convert(fahr,kelv):
 cels=fahr*1.8 + 32.0
 cels2=kelv -273,15
 return cels2
print('temp in kelvin =' ,convert(32,20))

temp in kelvin = (-253, 15)

In [103]:
def convert(fahr,kelv):
 cels=fahr*1.8 + 32.0
 cels2=kelv -273.15
 return cels2,cels
print('temp in kelvin =' ,convert(32,20))

temp in kelvin = (-253.14999999999998, 89.6)

In [102]:
def fahr_to_celsius(temp):
 return(temp-32)*(5/9)
print(fahr_to_celsius(72))

22.22222222222222

In [104]:
def temp_converter(ftemp):
 ctemp=(ftemp-32)* (5/9)
 ktemp=ctemp +273.15
 return[ftemp,ktemp,ctemp]
print(temp_converter(72))

[72, 295.3722222222222, 22.22222222222222]

In [108]:
def string_reverse(str1):
 rstr1 =''
 index = len(str1)
 while index > 0:
  rstr1 += str1[index-1]
  index = index - 1
 return rstr1
print(string_reverse('1234abcd'))

dcba4321

In [106]:
def sum(numbers):
 total=0
 for x in numbers:
  total += x
 return total
print(sum((8,2,3,0,7)))

20

In [111]:
def sum(*numbers):
 total=0
 for x in numbers:
  total += x
 return total
print(sum(8,2,3,0,7))

20

In [110]:
def test_range(n):
 if n in range(3,9):
  print('%s is in the range' %str(n))
 else:
  print('The number is outside the given range')
test_range(15)

The number is outside the given range

In [126]:
def printValues():
 l = []
 for i in range(1,21):
    l.append(i**2)
    print(l)

printValues()

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [127]:
angka_ganjil = int(input('Masukkan angka awal: '))

list_bil= [i for i in range (1,100) if i%2 == 1]
print(list_bil)

Masukkan angka awal: 100
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [128]:
angka_kuadrat = int(input('Masukkan angka awal: '))
list_bil= [i**2 for i in range (1,100) if i%2 == 1]
len(list_bil)

Masukkan angka awal: 20

50